* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
html ::-webkit-scrollbar {
  width: 2px;
}
html ::-webkit-scrollbar-track {
  background-color: #d3d9e5;
}
html ::-webkit-scrollbar-thumb {
  background-color: #545f7d;
}